<!DOCTYPE html>
<html lang="RU">

<head>
    <title>Лифтинг, татуаж и массажи</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/cara.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<header>
    <div class="imagen">
        <a href="../studioSharmPerm.html"><img class="logo" src="../assets/img/sharm.png" alt="sharm"></a>
        <div class="search-container">
            <form id="search-form">
                <label for="search-input" style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;">Искать:</label>
                <input type="text" id="search-input" placeholder="Искать...">
                <button type="submit" style="opacity: 1; color: rgb(255, 255, 255); background-color: rgb(153, 0, 153);">Искать</button>
            </form>
        </div>
        <div class="tiposTrabajos">
            <a href="../views/uñas.html">МАНИКЮР И ПЕДИКЮР</a>
        </div>
        <div class="tiposTrabajos2">
            <a href="../views/cara.html">ЛИФТИНГ, ТАТУИРОВКА И МАССАЖ</a>
        </div>
        <div class="cajas">
            <a href="../views/contacto.html">КОНТАКТ</a>
        </div>
        <div class="cajas2">
            <a href="../views/trabajaNosotros.html">РАБОТАТЬ С НАМИ</a>
        </div>
    </div>
</header>

<body>
    <div class="search-results" id="search-results"></div>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../assets/img/fondocara1.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../assets/img/fondocara2.png" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../assets/img/fondocara3.png">
        </div>
    </div>

    <div class="TIPOS">
        <h2>ВИДЫ РАБОТЫ НА РАЗНЫХ ЧАСТЯХ ЛИЦА</h2>
        <p>В этом разделе вы сможете увидеть информацию о различных работах, выполняемых по ресницам, губам и бровям:
        </p>

        <div class="tipo-cejas">
            <h3>Брови</h3>
            <div class="contenido-oculto">
                <p><strong>Оформление бровей</strong></p>
                <p><strong>цена:</strong> от 300/500 руб.</p>

                <p><strong>Покраска +оформление бровей</strong></p>
                <p><strong>цена:</strong> от 700 руб.</p>

                <p><strong>Биотатуаж бровей (хной)</strong></p>
                <p><strong>цена:</strong> 1000 руб.</p>

                <p><strong>Долговременная укладка бровей(фиксация+окрашивание+оформление+уход)</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>

                <p><strong>Перманентный макияж бровей</strong></p>
                <p><strong>цена:</strong> 6000 руб.</p>


                <div class="cejas">
                    <div class="video">
                        <video autoplay loop muted>
                            <source src="../assets/video/cejas.mp4" type="video/mp4">
                            <source src="../assets/video/cejas.mp4" type="video/webm">
                            Ваш браузер не поддерживает видео тег.
                        </video>
                    </div>
                    <div class="cejasAbajo">
                        <img src="../assets/img/fondo3.png" alt="ламинированные брови">
                        <img src="../assets/img/fondocara1.png" alt="Татуаж бровей">
                    </div>
                </div>
            </div>
        </div>
        <div class="tipo-cejas">
            <h3>Ресницы</h3>
            <div class="contenido-oculto">
                <p><strong>Ламинирование ресниц(фиксация изгиба+окрашивание+ уход)</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>

                <p><strong>Перманентный макияж межресничка</strong></p>
                <p><strong>цена:</strong> 5000 руб.</p>

                <p><strong>Перманентный макияж межресничка с растушевкой</strong></p>
                <p><strong>цена:</strong> 6000 руб.</p>

                <p><strong>Коррекция (межресничка)</strong></p>
                <p><strong>цена:</strong> 2000 руб.</p>

                <div class="cejas1">
                    <img src="../assets/img/ejemplo2_2.png" alt="наращивание ресниц">
                </div>
            </div>
        </div>
        <div class="tipo-cejas">
            <h3>Губы</h3>
            <div class="contenido-oculto">
                <p><strong>Перманентный макияж губ(акварельные губы)</strong></p>
                <p><strong>цена:</strong> 6000 руб.</p>

                <div class="cejas">
                    <img src="../assets/img/tatuajelabio.png" alt="татуаж губ/микропигментация">
                    <img src="../assets/img/ejemplo2_1.png" alt="татуаж губ/микропигментация">
                </div>
            </div>
        </div>
        <div class="tipo-cejas">
            <h3>Смесь двух разных вещей</h3>
            <div class="contenido-oculto">
                <p><strong>Покраска бровей/ресниц</strong></p>
                <p><strong>цена:</strong> от 300/500 руб.</p>

                <p><strong>Ламинирование ресниц + долговременная укладка бровей</strong></p>
                <p><strong>цена:</strong> 2500 руб.</p>

                <p><strong>Коррекция (брови, губы)</strong></p>
                <p><strong>цена:</strong> 3000 руб.</p>

                <div class="cejas4">
                    <img src="../assets/img/cejasypest.png" alt="ламинирование бровей и ресниц">
                </div>
            </div>
        </div>

        <p>В этом разделе вы сможете увидеть информацию о различных работах, проводимых в косметолога-эстетиста:</p>

        <div class="tipo-cejas">
            <h3>Массаж лица</h3>
            <div class="contenido-oculto">
                <p><strong>Классический массаж лица</strong></p>
                <p><strong>цена:</strong> 700 руб.</p>

                <p><strong>Классический массаж лица с маской(по типу кожи)</strong></p>
                <p><strong>цена:</strong> 1200 руб.</p>

                <p><strong>Классический массаж лица с альгинатной маской</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>
            </div>
        </div>

        <div class="tipo-cejas">
            <h3>Очищение лица</h3>
            <div class="contenido-oculto">
                <p><strong>Комбинированная чистка лица (очищение,холодное гидрирование, УЗ-пилинг,механическая
                        чистка,дарсонваль,маска,защита)</strong></p>
                <p><strong>цена:</strong> 2000 руб.</p>

                <p><strong>Ультразвуковая чистка лица(очищение,холодное гидрирование,
                        УЗ-пилинг,дарсонваль,маска,защита)</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>

                <p><strong>Механическая чистка лица (очищение, холодное гидрирование, дарсонваль, маска,
                        защита)</strong></p>
                <p><strong>цена:</strong> от 1500 руб.</p>

                <div class="cejas5">
                    <img src="../assets/img/limpieza.png" alt="чистка лица">
                </div>
            </div>
        </div>

        <div class="tipo-cejas">
            <h3>Процедуры для лица</h3>
            <div class="contenido-oculto">
                <p><strong>Безинъекционная карбокситерапия лица</strong></p>
                <p><strong>цена:</strong> 1000 руб.</p>

                <p><strong>Фракционная мезотерапия лица+маска</strong></p>
                <p><strong>цена:</strong> от 2000 руб.</p>

                <p><strong>Прессотерапия (ноги,талия или шорты)</strong></p>
                <p><strong>цена:</strong> 800 руб. / (первое посещение) 600 руб. </p>

                <p><strong>Обёртывание +прессотерапия</strong></p>
                <p><strong>цена:</strong> 1200 руб.</p>

                <div class="cejas6">
                    <div class="video2">
                        <video autoplay loop muted>
                            <source src="../assets/video/plc.mp4" type="video/mp4">
                            <source src="../assets/video/plc.mp4" type="video/webm">
                            Ваш браузер не поддерживает видео тег.
                        </video>
                    </div>
                    <img src="../assets/img/прессотерапии.png" alt="прессотерапии">
                </div>
            </div>
        </div>

        <div class="tipo-cejas">
            <h3>Пилинг</h3>
            <div class="contenido-oculto">
                <p><strong>Мультикислотный химический пилинг + маска</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>

                <p><strong>Мультикислотный химический пилинг + альгинатная маска</strong></p>
                <p><strong>цена:</strong> 1700 руб.</p>

                <p><strong>Всесезонные пилинги для лица</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>

                <div class="cejas1">
                    <div class="video2">
                        <video autoplay loop muted>
                            <source src="../assets/video/plc.mp4" type="video/mp4">
                            <source src="../assets/video/plc.mp4" type="video/webm">
                            Ваш браузер не поддерживает видео тег.
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png"
                    alt="Instagram"></a>
            <a href="https://vk.com/sharm.perm"><img src="../assets/img/vk.png" alt="VK"></a>

        </div>
        <p>@2024 StudioSharmPerm</p>
        <p>Адрес:<br> Подлесная 3а,студия красоты Шарм</p>
    </footer>
    <script src="../scripts/scripts.js"></script>
    <script src="../scripts/buscador.js"></script>
</body>

</html>