<html lang="en">

<head>
    <title>Загрузка страницы</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; URL=http://127.0.0.1:5500/studioSharmPerm.html" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../styles/carga.css">
</head>

<body>
    <div class="imagen">
        <img src="/assets/img/carga.gif.webp" alt="зарядка">
    </div>
    <p>Подождите немного, пока форма не будет отправлена</p>
</body>

</html>