<!DOCTYPE html>
<html>
    <head>
        <title>Contacto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/contacto.css">
    </head>
    <header>
        <img class="logo" src="../assets/img/sharm.png" alt="sharm" height="100" width="100">
        <p><a href="../studioSharmPerm.html">Volver</a></p>
    </header>
    <body>
        <img class="logo" src="../assets/img/maps.png" alt="maps" height="350" width="550">
        <div class="formulario">
            <h2>Formulario de Contacto</h2>
            <form action="#" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
                <br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <br>
                <label for="telefono">Teléfono:</label>
                <input type="number" id="tel" name="telefono" required>
                <br>
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" name="mensaje" required></textarea>
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </body>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png" alt="Instagram"></a>
        </div>
        <p>@2024 StudioSharmPerm</p>
    </footer>
</html>
