<!DOCTYPE html>
<html>

<head>
    <title>STUDIO SHARM PERM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contacto.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<header>
    <div class="imagen">
        <a href="../studioSharmPerm.html"><img class="logo" src="../assets/img/sharm.png" alt="sharm"></a>
        <div class="search-container">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Искать...">
                <button type="submit">Искать</button>
            </form>
        </div>
        <div class="tiposTrabajos">
            <a href="../views/uñas.html">МАНИКЮР И ПЕДИКЮР</a>
        </div>
        <div class="tiposTrabajos2">
            <a href="../views/cara.html">ЛИФТИНГ, ТАТУИРОВКА И МАССАЖ</a>
        </div>
        <div class="cajas">
            <a href="../views/contacto.html">КОНТАКТ</a>
        </div>
        <div class="cajas2">
            <a href="../views/trabajaNosotros.html">РАБОТАТЬ С НАМИ</a>
        </div>
    </div>
</header>

<body>
    <div class="search-results" id="search-results"></div>
    <div class="mapa">
        <img class="logo" src="../assets/img/maps.png" alt="maps">
    </div>
    <h2>Форма обратной связи</h2>
    <p>Если у вас есть вопросы по какой-либо услуге или вы хотите записаться на прием, вы можете связаться с нами через
        эту форму, <a href="https://2gis.ru/perm/firm/2252328094703856" style="color: blue;">2gis</a> или по телефону:
        +79194534803.</p>
    <p>Мы ответим вам как можно скорее.</p>
    <div class="formulario">
        <form action="#" method="post">
            <label for="nombre">Имя:</label>
            <input type="text" id="nombre" name="name" required>
            <br>
            <label for="email">Электронная почта:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="telefono">Телефон:</label>
            <input type="tel" id="phone" name="phone" placeholder="+7 123-456-7890 или 8 123-456-7890"
                pattern="(\+7\s[0-9]{3}\s[0-9]{3}-[0-9]{4})|(8\s[0-9]{3}\s[0-9]{3}-[0-9]{4})" required><br>
            <small>Форматы: +7 123 456-7890 или 8 123 456-7890.</small><br>
            <br>
            <label for="mensaje">Сообщение:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
            <br>
            <input type="submit" value="Отправить">
        </form>
    </div>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png"
                    alt="Instagram"></a>
        </div>
        <p>@2024 StudioSharmPerm</p>
        <p>Адрес:<br> Подлесная 3а,студия красоты Шарм</p>
    </footer>
    <script src="../scripts/buscador.js"></script>
</body>

</html>