<!DOCTYPE html>
<html>

<head>
    <title>Связаться с нами</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contacto.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<header>
    <div class="imagen">
        <a href="../studioSharmPerm.html"><img class="logo" src="../assets/img/sharm.png" alt="sharm"></a>
        <div class="search-container">
            <form id="search-form">
                <label for="search-input" style="position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0;">Искать:</label>
                <input type="text" id="search-input" placeholder="Искать...">
                <button type="submit" style="opacity: 1; color: rgb(255, 255, 255); background-color: rgb(153, 0, 153);">Искать</button>
            </form>
        </div>
        <div class="tiposTrabajos">
            <a href="../views/uñas.html">МАНИКЮР И ПЕДИКЮР</a>
        </div>
        <div class="tiposTrabajos2">
            <a href="../views/cara.html">ЛИФТИНГ, ТАТУИРОВКА И МАССАЖ</a>
        </div>
        <div class="cajas">
            <a href="../views/contacto.html">КОНТАКТ</a>
        </div>
        <div class="cajas2">
            <a href="../views/trabajaNosotros.html">РАБОТАТЬ С НАМИ</a>
        </div>
    </div>
</header>

<body>
    <div class="search-results" id="search-results"></div>
    <div class="mapa">
        <img class="logo" src="../assets/img/maps.png" alt="Шарм расположение">
    </div>
    <h2>Форма обратной связи</h2>
    <p>Если у вас есть вопросы по какой-либо услуге или вы хотите записаться на прием, вы можете связаться с нами через
        эту форму, <a href="https://2gis.ru/perm/firm/2252328094703856" style="color: blue;">2gis</a>, <a
            href="https://api.whatsapp.com/send/?phone=79194534803&text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%21%0A%0A%D0%9F%D0%B8%D1%88%D1%83+%D0%B8%D0%B7+%D0%BF%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D1%8F+2%D0%93%D0%98%D0%A1.%0A%0A&type=phone_number&app_absent=0"
            style="color: blue;">WhatsApp</a> или по телефону:
        +79194534803.</p>
    <p>Мы ответим вам как можно скорее.</p>
    <div class="formulario">
        <form action="https://formsubmit.co/milena200.fv@gmail.com" method="POST">
            <label for="nombre">Имя:</label>
            <input type="text" id="nombre" name="name" required>
            <br>
            <label for="email">Электронная почта:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="telefono">Телефон:</label>
            <input type="tel" id="telefono" name="telefono" placeholder="+7 123-456-7890 или 8 123-456-7890" pattern="(\+7\s[0-9]{3}\s[0-9]{3}-[0-9]{4})|(8\s[0-9]{3}\s[0-9]{3}-[0-9]{4})" required><br>
            <small>Форматы: +7 123 456-7890 или 8 123 456-7890.</small><br>
            <br>
            <label for="mensaje">Сообщение:</label>
            <textarea id="mensaje" name="mensaje" required></textarea>
            <br>


            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="http://127.0.0.1:5500/views/cargaDePg.html">

            <input type="submit" value="Отправить">
        </form>

    </div>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png"
                    alt="Instagram"></a>
            <a href="https://vk.com/sharm.perm"><img src="../assets/img/vk.png" alt="VK"></a>

        </div>
        <p>@2024 StudioSharmPerm</p>
        <p>Адрес:<br> Подлесная 3а,студия красоты Шарм</p>
    </footer>
    <script src="../scripts/buscador.js"></script>
</body>

</html>