<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Envío de Curriculum</title>
    <link rel="stylesheet" href="../styles/todo.css">
</head>

<body>
    <h2>Formulario de Envío de Curriculum</h2>
    <form action="../formulario.php" method="post" enctype="multipart/form-data">
        <label for="asunto">Asunto:</label>
        <input type="text" name="asunto" id="asunto" required><br><br>

        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" id="mensaje" required></textarea><br><br>

        <label for="archivo">Selecciona el PDF:</label>
        <input type="file" name="archivo" id="archivo" accept="application/pdf" required><br><br>

        <button type="submit">Enviar</button>
    </form>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png"
                    alt="Instagram"></a>
        </div>
        <p>@2024 StudioSharmPerm</p>
    </footer>
</body>

</html>