<!DOCTYPE html>
<html lang="es">

<head>
    <title>STUDIO SHARM PERM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contacto.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<header>
    <div class="imagen">
        <a href="../studioSharmPerm.html"><img class="logo" src="../assets/img/sharm.png" alt="sharm"></a>
        <div class="search-container">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Искать...">
                <button type="submit">Искать</button>
            </form>
        </div>
        <div class="tiposTrabajos">
            <a href="../views/uñas.html">МАНИКЮР И ПЕДИКЮР</a>
        </div>
        <div class="tiposTrabajos2">
            <a href="../views/cara.html">ЛИФТИНГ, ТАТУИРОВКА И МАССАЖ</a>
        </div>
        <div class="cajas">
            <a href="../views/contacto.html">КОНТАКТ</a>
        </div>
        <div class="cajas2">
            <a href="../views/trabajaNosotros.html">РАБОТАТЬ С НАМИ</a>
        </div>
    </div>
</header>

<body>
    <div class="search-results" id="search-results"></div>
    <h2>Formulario de Envío de Curriculum</h2>
    <form method="POST" action="https://formsubmit.co/milena200.fv@gmail.com" enctype="multipart/form-data">
        <label for="asunto">Asunto:</label>
        <input type="text" name="asunto" id="asunto" required><br><br>

        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje" id="mensaje" required></textarea><br><br>

        <label for="archivo">Selecciona el PDF:</label>
        <input type="file" name="attachment" id="archivo" accept="application/pdf" required><br><br>

        <input type="hidden" name="_captcha" value="false">

        <button type="submit">Enviar</button>
    </form>
    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png"
                    alt="Instagram"></a>
        </div>
        <p>@2024 StudioSharmPerm</p>
        <p>Адрес:<br> Подлесная 3а,студия красоты Шарм</p>
    </footer>
    <script src="../scripts/buscador.js"></script>
</body>

</html>