<!DOCTYPE html>
<html lang="RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маникюр и педикюр</title>
    <link rel="stylesheet" href="../styles/uñas.css">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="../styles/todo.css">
</head>
<header>
    <div class="imagen">
        <a href="../studioSharmPerm.html"><img class="logo" src="../assets/img/sharm.png" alt="sharm"></a>
        <div class="search-container">
            <form id="search-form">
                <input type="text" id="search-input" placeholder="Искать...">
                <button type="submit">Искать</button>
            </form>
        </div>
        <div class="tiposTrabajos">
            <a href="../views/uñas.html">МАНИКЮР И ПЕДИКЮР</a>
        </div>
        <div class="tiposTrabajos2">
            <a href="../views/cara.html">ЛИФТИНГ, ТАТУИРОВКА И МАССАЖ</a>
        </div>
        <div class="cajas">
            <a href="../views/contacto.html">КОНТАКТ</a>
        </div>
        <div class="cajas2">
            <a href="../views/trabajaNosotros.html">РАБОТАТЬ С НАМИ</a>
        </div>
    </div>
</header>

<body>
    <div class="search-results" id="search-results"></div>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../assets/img/fondo2.png" alt="Фон одного цвета лака для ногтей" style="width:100%">
        </div>
    </div>

    <div class="TIPOS">
        <h2>ВИДЫ НОГТЕЙ</h2>
        <p>В этом разделе вы можете увидеть информацию о разных видах ногтей:</p>

        <div class="tipo-uñas">
            <h3>Маникюр</h3>
            <div class="contenido-oculto">
                <p><strong>Маникюр (аппаратный, комбинированный)</strong></p>
                <p><strong>цена:</strong> 800 руб.</p>

                <p><strong>Мужской маникюр</strong></p>
                <p><strong>цена:</strong> 1000 руб.</p>

                <p><strong>Маникюср с покрытием гель-лака с выравниванием(однотонное)</strong></p>
                <p><strong>цена:</strong> 1500 руб.</p>

                <p><strong>Маникюр с покрытием (кошачий глаз)</strong></p>
                <p><strong>цена:</strong> 1600 руб.</p>

                <p><strong>Маникюр с покрытием (френч)</strong></p>
                <p><strong>цена:</strong> 1700 руб.</p>

                <div class="uñas">
                    <img src="../assets/img/uñas1.jpg" alt="дизайн новогоднего маникюра">
                    <img src="../assets/img/uñas2.jpg" alt="Синий цвет дизайна с цветочным маникюром">
                    <img src="../assets/img/uñas3.jpg" alt="Маникюр на шпильке в сиреневом цвете">
                </div>
            </div>
        </div>

        <div class="tipo-uñas">
            <h3>Педикюр</h3>
            <div class="contenido-oculto">
                <p><strong>Педикюр (пальчики,стопа)</strong></p>
                <p><strong>цена:</strong> 2000 руб.</p>

                <p><strong>Педикюр (пальчики с покрытием)</strong></p>
                <p><strong>цена:</strong> 1800 руб.</p>

                <p><strong>Полный педикюр с покрытием гель-лака</strong></p>
                <p><strong>цена:</strong> 2200 руб.</p>
            </div>
        </div>

        <div class="tipo-uñas">
            <h3>Холодная парафинотерапия</h3>
            <div class="contenido-oculto">
                <p><strong>Холодная парафинотерапия рук</strong></p>
                <p><strong>цена:</strong> 400 руб.</p>

                <p><strong>Холодная парафинотерапия ног</strong></p>
                <p><strong>цена:</strong> 500 руб.</p>

                <p><strong>Холодная парафинотерапия рук + ног</strong></p>
                <p><strong>цена:</strong> 700 руб.</p>
                <div class="video">
                    <video autoplay loop muted>
                        <source src="../assets/video/video.mp4" type="video/mp4">
                        <source src="../assets/video/video.mp4" type="video/webm">
                        Ваш браузер не поддерживает видео тег.
                    </video>
                </div>
            </div>
        </div>

        <div class="tipo-uñas">
            <h3>Дополнительно</h3>
            <div class="contenido-oculto">
                <p><strong>Дизайн (одного ногтя)</strong></p>
                <p><strong>цена:</strong> от 50 руб.</p>
                <div class="diseño">
                    <img class="diseño" src="../assets/img/diseño.png" alt="Красный дизайн с цветком на ногте">
                </div>
            </div>
        </div>

        <div class="tipo-uñas">
            <h3>Другие</h3>
            <div class="contenido-oculto">
                <p><strong>Укрепление ногтевой пластины</strong></p>
                <p><strong>цена:</strong> 200 руб.</p>

                <p><strong>Наращивание одного ногтя</strong></p>
                <p><strong>цена:</strong> 200 руб.</p>

                <p><strong>Ремонт ногтей</strong></p>
                <p><strong>цена:</strong> 100/150 руб.</p>

                <p><strong>Снятие гель-лака</strong></p>
                <p><strong>цена:</strong> от 300 руб.</p>

                <p><strong>Покрытие обычным лаком</strong></p>
                <p><strong>цена:</strong> 200 руб.</p>
                <img class="uñas1" src="../assets/img/uñasejemplo2.png" alt="Маникюр на шпильке в розовом цвете">
            </div>
        </div>
    </div>

    <footer>
        <div class="redes-sociales">
            <a href="https://www.instagram.com/studio_sharm_perm/"><img src="../assets/img/ig-logo.png"
                    alt="Instagram"></a>
            <a href="https://vk.com/sharm.perm"><img src="../assets/img/vk.png" alt="VK"></a>
        </div>
        <p>@2024 StudioSharmPerm</p>
        <p>Адрес:<br> Подлесная 3а,студия красоты Шарм</p>
    </footer>
    <script src="../scripts/scripts.js"></script>
    <script src="../scripts/buscador.js"></script>
</body>

</html>